body {
    background-image: url('/home/amine/WebDev/animehub.github.io/files/images/site-background.jpg');
    background-size: cover;
    opacity: 0.8;
    
}

.anime {
    border: 2px solid gray;
    margin: -1%;
    color: white;
}

#heading {

    margin: 15px;
    
}